body{
	/*background: #337ab7;*/
}

.main{
	margin: auto;
	position: relative;
	top:10px; 
	right: 0;
	left: 0;
	width: 900px;
	height: 410px;
	display: block;
}
#jeu{	
	position: absolute;
	width: 900;
	height: 400;
    background: rgb(0,0,0);
	box-shadow: 10px 10px 5px #888888;
	border:  1px solid rgb(0,0,0);
}

.command{
	border:  2px solid rgb(0,0,0);
	position: relative;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
	top:15px;
}



